
/******navigation bar****************/
header{
	
	background-color: #353054;
    
}



nav {
	display: flex;
	color: white;	
}

.nav-right {
	margin-left: auto;
}


ul {

	display: flex;
	list-style-type: none;
	margin: 0;

}

li {
	padding: 10px;
}
/*********End of navigation***************/

/************welcome***************/

.welcomebox p {
	font-size: 1em;
}

.welcome{
	text-align: center;
	color: #353054

}

.welcomesign{
	color: #353054;
	font-size: 3em;
	
}
.get-started{

}


/*********body********/

body{
	margin: 0;
}
/*******************About*********************/
.aboutcube{
	text-align: center;
}
.aboutcube-header h3{
	margin-bottom: 20px;
	font-size: 2.4em;

}

h3{
	display: block;
	font-weight: bold;
	color: #353054;

}
p{
	display: block;

}
.about-container{
	display: flex;
	flex-direction: row;
	background-color: lightgrey;
}
.fa .fas{
	font-weight: 900;
	color: #353054;
	f2b5

}
.fa .fas {
	font-family: 
}
/************get to know us************/
.get-to-know-us{

}
.team-members h1{
	display: flex;
	justify-content: center;

}
.teamimage{
     display: flex;
     flex-direction: row;
}
.member{
	  display: block;
      text-align: center;

}
